.new-song-form {
    max-width: 400px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 1px 10px grey;
}

.form-label {
    display: block;
    margin-bottom: 0.4rem;
    color: #333;
    font-size: 0.9rem;
}

.form-input {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.form-submit-btn {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border: solid 1px #7792bc;
    border-radius: 4px;
    background: #7792bc;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-submit-btn:hover {
    background: #e6f4f1;
    color: black;
    border-color: #b3c2c7;
}
