.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
    background-color: #47a0f9;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 10px grey;
    border-radius: 0px 0px 8px 8px;
}

.nav-title {
    margin: 0;
    font-size: 3rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black;
}
