table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    box-shadow: 1px 1px 10px grey;
    background-color: #fff;
}

th,
td {
    text-align: left;
    padding: 0.8rem;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
    color: black;
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}
